<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.interswitchgroup.pinonmobile">

    <application>
        <activity
            android:name=".ui.PinOnMobileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_pin_on_mobile"
             />
    </application>

</manifest>